* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background: url(assets/background.jpg) no-repeat top/cover fixed;
  min-height: 100svh;
}

.flex {
  display: flex;
}

.emphasis {
  color: #ffc62b;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1.8rem;
  place-content: center;
  padding: 1.6rem 1rem;
}

.card {
  max-width: 30rem;
  background: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(10px);
  padding: 1.6rem;
  border-radius: 0.8rem;
  color: #d1d1d1;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem rgba(255, 255, 255, 0.164);
}

.card:hover {
  outline: 0.1rem solid #ffc62b9a;
  cursor: default;
}

.card:hover > .card-header p:nth-child(2) {
  color: #ffc62b;
}

.card-header {
  text-align: center;
  height: 31rem;
}

.card-header img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.title-paragraph {
  font-weight: bold;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.8rem;
}

table {
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: #d1d1d11e;
}

.table-header {
  color: #ffc62b;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.table-description {
  font-size: 1.4rem;
  padding: 0 1.4rem;
  font-weight: bold;
}

.table-value {
  text-align: center;
  font-size: 1.4rem;
}

.exclusive {
  text-align: center;
  flex: 1;
}

.price {
  text-align: center;
}

.compatibility {
  text-align: center;
}

@media (max-width: 970px) {
  .cards {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (max-width: 660px) {
  body {
    background: url(assets/card-background.webp) no-repeat top/cover fixed;
  }
  .cards {
    grid-template-columns: max-content;
  }
}
